body {background-color: beige;}



#Main_Title  {color: red;
     font-size: 40px;
    text-align: center;}

#opening {color: brown;
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;}

.alphabet{background-color: #6F4E37;
color: white;
display: inline-block;
padding: 15px;}

.GO{background-color: #f3802e;
    color: white;
    display: inline-block;
    padding: 15px;
    margin-left: 30px;

}

#lettercombo{
width: 50%;
position: fixed;
height: 150px;
left: 25%;
top: 30%;
}
#entire_keyboard {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 50%;
     position: absolute;
     top: 50%;
     left: 25%;
     
 }
 
 #keyboard1 {
     display: flex;
     width: 100%;
     justify-content: space-around;
     margin: 10px 0 ;
 }

 #keyboard2{

     display: flex;
     width: 90%;
     justify-content: space-around;
     margin: 10px 0 ;

 }
 #keyboard3{
     display: flex;
     width: 70%;
     justify-content: space-around;
     margin: 10px 0 ;

}