<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\css\style.css">
    <script src="static\sandbox.js"></script>
</head>
<body>
    
    <h1 id="Main_Title">Scrabble Master</h1>

    <p id="opening">Welcome to Scrabble Master where you can get all combinations for your hand!</p>




<textarea name="lettercombo" id="lettercombo"></textarea>
    

<div id="entire_keyboard">
    <div id="keyboard1">
    <button type="button", onclick= "displaytext('Q')", class = "alphabet", id="Q">Q</button>
    <button type="button", onclick="displaytext('W')", class="alphabet", id="W">W</button>
    <button type="button", onclick="displaytext('E')", class="alphabet", id="E">E</button>
    <button type="button", onclick="displaytext('R')", class="alphabet", id="R">R</button>
    <button type="button", onclick="displaytext('T')", class="alphabet", id="T">T</button>
    <button type="button", onclick="displaytext('Y')", class="alphabet", id="Y">Y</button>
    <button type="button", onclick="displaytext('U')", class="alphabet", id="U">U</button>
    <button type="button", onclick="displaytext()", class="alphabet", id="I">I</button>
    <button type="button", onclick="displaytext()", class="alphabet", id="O">O</button>
    <button type="button", onclick="displaytext()", class="alphabet", id="P">P</button></div>
    
   <div id="keyboard2"><button type="button", class="alphabet">A</button>
    <button type="button", class="alphabet">S</button>
    <button type="button", class="alphabet">D</button>
    <button type="button", class="alphabet">F</button>
    <button type="button", class="alphabet">G</button>
    <button type="button", class="alphabet">H</button>
    <button type="button", class="alphabet">J</button>
    <button type="button", class="alphabet">K</button>
    <button type="button", class="alphabet">L</button></div> 

    <div id = "keyboard3">
    <button type="button", class="alphabet">T</button>
    <button type="button", class="alphabet">U</button>
    <button type="button", class="alphabet">V</button>
    <button type="button", class="alphabet">W</button>
    <button type="button", class="alphabet">X</button>
    <button type="button", class="alphabet">Y</button>
    <button type="button", class="alphabet">Z</button>
    <button type ="button", class ="GO">GO</button></div>

    </div>
    
</body>
</html>